.bg-main { 
    /* The image used */
    background-image: url("/img/bg.jpg");
  
    /* Full height */
    height: 100vh;
    overflow-x: hidden; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card.scale {     
    transition: all 0.2s ease-in-out; 
  }  
  .card:hover.scale {     
    transform: scale(1.03);
  }

  .centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .gentium{
    font-family: Gentium;
  }
 
  a:link {


    text-decoration: none;
  
  
  }
  
  
  a:visited {
  
  
    text-decoration: none;
  
  
  }
  
  
  a:hover {
  
  
    text-decoration: none;
  
  
  }
  
  
  a:active {
  
    
    text-decoration: none;
  
  
  }
